<form action="/sessions" method="POST">
  <label>Email</label>
  <input type="text" name="email" placeholder="you@example.org"><br>
  <label>Password</label>
  <input type="password" name="password" placeholder="********"><br>
  <input type="submit" value="Login">
</form>
