<form>
  <textarea class="answer-input" name="answer[body]"></textarea>
  <button class="submit-answer-button" type="submit">Post Answer</button>
  <button class="submit-answer-reset" type="reset">discard</button>
</form>
