<div class="side-links">
<% if current_user %>
  <ul>
    <li> <%= current_user.display_name %> </li>
    <li>
      <form action='/sessions' method='POST'>
        <input type='hidden' name='_method' value='DELETE'>
        <input type='submit' value='Logout'>
      </form>
    </li>
  </ul>
<% else %>
  <ul>
    <li> <a href='/sessions/new' class=""> Log In </a> </li>
    <li> <a href='/users/new' class="submit-answer-button"> Sign Up </a> </li>
  </ul>
<% end %>
</div>
