<% if current_user %>
  <ul>
    <li> <%= current_user.display_name %> </li>
    <li>
      <form action='/sessions' method='POST'>
        <input type='hidden' name='_method' value='DELETE'>
        <input type='submit' value='Logout'>
      </form>
    </li>
  </ul>
<% else %>
<div class="main-nav">
  <ul>
    <li> <a href='/sessions/new' class="login-link"> Log In </a> </li>
    <li> <a href='/users/new' class="sign-up-link"> Sign Up </a> </li>
  </ul>
</div>
<% end %>
